.filter {
	& + & {
		margin-top: $v;
	}
}

.filter_count {
	font-size: $font-size-small;
	color: $text-color-light;
}

.filter_item {
	a {
		box-shadow: none;
	}

	&:before {
		content: none !important;
	}
}

.filter_list {
	margin-left: 0 !important;
}


.filter_item-active {
	background: #e3eaf9;
	width: 80%;
	cursor: pointer;
	font-weight: bold;

	&::after {
		content: 'x';
		float: right;
		position: relative;
		border-left: 5px solid $input-bg;
		width: 26px;
		padding-left: 14px;
		height: 2em;
	}
}
