.filter {
	& + & {
		margin-top: $v;
	}
}

.filter_count {
	font-size: $font-size-small;
	color: $text-color-light;
}

.filter_item {
	a {
		box-shadow: none;
	}

	&:before {
		content: none !important;
	}

	&.-active {
		background: $highlight-bg-light;
		border-radius: $br;
		cursor: pointer;
		font-weight: bold;
		padding-left: $h * 1.25;
		position: relative;

		&:before {
			@include separator(0, 1, 0, 0);
			background: $highlight-bg;
			border-radius: $br 0 0 $br;
			color: #fff;
			content: '\00d7' !important;
			height: 100%;
			margin: 0 0 0 (-$h * 1.25);
			text-align: center;
			text-shadow: 0 -1px 0 rgba(#000, .2);
			width: $h;
		}
	}
}

.filter_list {
	margin-left: 0 !important;
}
