.footer {
	background: $alpha-color;
	color: white;
	padding: ($v / 4) ($h / 2);
	text-align: center;

	a {
		color: $button-text-color;
	}

	.wrapper {
		margin: 0 auto;

		li {
			display: inline-block;
			margin: 0 $font-size;
		}

		.icon-svg {
			height: $font-size;
		}
	}
}
