.header {
	padding: 0 ($h / 2);
}

.header_bar {
	margin: 0 (-$h / 2);
	padding: round($v / 4) $h $v;
}

.header_nav {
	position: absolute;
	right: $h * 14;
	top: $v;
	z-index: 1;

	li {
		float: left;

		& + li {
			@include separator(0, 0, 0, 1);
		}
	}

	a {
		color: #fff;
		display: block;
		padding: ($v / 2) 1em;
	}
}
