.metadata_info {
	dt, dd {
		float: none;
		padding: 0;
		width: auto;
	}

	dd + dt {
		margin-top: ($v / 2);
	}
}

.metadata_section {
	margin-top: $v / 2;
}

.metadata_title {
	margin-bottom: $v / 2;
}
