.pagination {
	display: inline-block;
	margin: 0 !important;
}

.pagination_link {
	&.-current {
		background: $highlight-bg;
		color: #fff;
		font-weight: bold;
	}

	&.-previous {
		margin-right: 0;
	}
}
