.results_count {
	font-size: $font-size-small;
	margin: $v / 2 0;
	text-align: right;
}

.results_header {
	margin-bottom: $v;
	text-align: center;
}

.results_footer {
	margin-top: $v;
	text-align: center;
}

.results_list {
	margin: 0 !important;
}
