.viewer_controls {
	display: flex;
	flex-wrap: wrap;

	[type=range] {
		@include range-slider
	}
}

.viewer_control {
	background: $button-bg;
	border-radius: 0;
	float: left;
	height: $v * 1.5 !important;
	padding: round($v / 4) !important;
	min-width: $h * 1.5;
	width: auto !important;

	& + & {
		@include separator(0, 0, 0, 1);
	}

	&:first-child {
		border-top-left-radius: $br;
		border-bottom-left-radius: $br;
	}

	&:last-child {
		border-top-right-radius: $br;
		border-bottom-right-radius: $br;
	}
}

.viewer_group {
	margin: 0 ($h / 2) ($v / 2) 0;
}

.viewer_overlay {
	position: absolute;
	top: 0;
}

.viewer_scan {
	background: $text-color;
	border-radius: 0 $br $br 0;
	margin-left: (-$h);
	overflow: hidden;
	position: relative;

	img {
		display: block;
	}
}
