// NOTE: For range slider styling to work, each browser has to be addressed
//       with a separate rule. Combined rules won't work.
@mixin range-slider {
	& {
		-webkit-appearance: none;
		margin: 0;
		width: 100%;
	}
	&::-moz-range-track {
		background: #aaa;
		border-radius: $br;
		box-shadow: 1px 1px 1px rgba(#000, .5) inset;
		cursor: pointer;
		height: ($v / 4);
		width: 100%;
	}
	&::-webkit-slider-runnable-track {
		background: #aaa;
		border-radius: $br;
		box-shadow: 1px 1px 1px rgba(#000, .5) inset;
		cursor: pointer;
		height: ($v / 4);
		width: 100%;
	}
	&::-moz-range-thumb {
		background: $button-light-bg;
		border-radius: $br;
		cursor: pointer;
		height: $v;
		width: ($h / 2);
	}
	&::-webkit-slider-thumb {
		background: $button-light-bg;
		border-radius: $br;
		cursor: pointer;
		height: $v;
		width: ($h / 2);
		margin-top: round(-$v * .35);
		-webkit-appearance: none;
	}
	// TODO: Add -ms- styles
}
