@mixin range-slider {
	& {
		-webkit-appearance: none;
		margin: 0;
		width: 100%;
	}
	&::-webkit-slider-runnable-track {
		width: 100%;
		height: ($v / 4);
		cursor: pointer;
		box-shadow: 0 1px 3px rgba(#000, .5) inset;
		background: #aaa;
		border-radius: ($v / 4);
	}
	&::-webkit-slider-thumb {
		border-radius: 50%;
		height: $h;
		width: $h;
		border-radius: 50%;
		box-shadow: 0 -.2em .5em rgba(#000, .5) inset;
		background: $button-light-bg;
		cursor: pointer;
		margin-top: round(-$v * .35);
		-webkit-appearance: none;
	}
	&::-moz-range-track {
		width: 100%;
		height: ($v / 4);
		cursor: pointer;
		box-shadow: 1px 1px 1px rgba(#000, .5) inset;
		background: #aaa;
		border-radius: ($v / 4);
		border: $border;
	}
	&::-moz-range-thumb {
		height: $h;
		width: $h;
		border-radius: 50%;
		box-shadow: 0 -.2em .5em rgba(#000, .5) inset;
		background: $button-light-bg;
		cursor: pointer;
	}
	// TODO: Add -ms- styles
}
