---
layout: fixed
title: Viewer
permalink: /viewer
---

<main class="main" id="main">
	<section class="viewer">
		{% include viewer-header.html %}
		<div class="viewer_main">
			<div class="viewer_panel -scan">
				{% include viewer-scan.html %}
			</div>
			<div class="viewer_panel -transcript -hidden">
				{% include viewer-transcript.html %}
			</div>
			<div class="viewer_panel -toc -hidden">
				{% include viewer-toc.html %}
			</div>
			<div class="viewer_panel -metadata">
				{% include viewer-metadata.html %}
			</div>
		</div>
		{% include viewer-footer.html %}
	</section>
</main>

<script src="https://subugoe.github.io/gdz-website/assets/javascipt/jquery.panzoom.min.js"></script>
<script src="https://subugoe.github.io/gdz-website/assets/javascipt/jquery.mousewheel.min.js"></script>
<script src="https://subugoe.github.io/gdz-website/assets/javascipt/viewer.js"></script>
