<ul class="collections">
	<li class="collections_item">
		<a href="" class="collections_link">
			<img src="https://subugoe.github.io/gdz-website/img/tiles/3631902258_d0cdb98f79.jpg" alt="" class="collections_image">
			<span class="collections_name">Eighteenth Century Journals</span>
		</a>
	</li>
	<li class="collections_item">
		<a href="" class="collections_link">
			<img src="https://subugoe.github.io/gdz-website/img/tiles/12084412865_515ce2cc46.jpg" alt="" class="collections_image">
			<span class="collections_name">Empire Online</span>
		</a>
	</li>
	<li class="collections_item">
		<a href="" class="collections_link">
			<img src="https://subugoe.github.io/gdz-website/img/tiles/6187758941_7783772d4a.jpg" alt="" class="collections_image">
			<span class="collections_name">Macmillan Online</span>
		</a>
	</li>
	<li class="collections_item">
		<a href="" class="collections_link">
			<img src="https://subugoe.github.io/gdz-website/img/tiles/10030588973_94b27083ca.jpg" alt="" class="collections_image">
			<span class="collections_name">Early American Imprints</span>
		</a>
	</li>
	<li class="collections_item">
		<a href="" class="collections_link">
			<img src="https://subugoe.github.io/gdz-website/img/tiles/6277208304_1061e862db.jpg" alt="" class="collections_image">
			<span class="collections_name">America’s Historical Newspapers</span>
		</a>
	</li>
	<li class="collections_item">
		<a href="" class="collections_link">
			<img src="https://subugoe.github.io/gdz-website/img/tiles/14319361704_edeeb019e0.jpg" alt="" class="collections_image">
			<span class="collections_name">U.S. Congressional Serial Set</span>
		</a>
	</li>
</ul>
