<section class="fields">
	<header>
		<h1>Fachbereiche</h1>
	</header>
	<ul class="fields_list">
		<li class="fields_item"><a
				href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=nordamericana">Americana</a> (<a
				href="digitalesammlungen/#nordamericana">Info</a> | <a
				href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=nordamericana">641</a>)
		</li>
		<li class="fields_item"><a
				href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=antiquitates.und.archaeologia.archaeo18">Antiquitates
			&amp; Archaeologia - ARCHAEO18</a> (<a href="digitalesammlungen/#antiquitates.und.archaeologia.archaeo18">Info</a>
			|
			<a href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=antiquitates.und.archaeologia.archaeo18">508</a>)
		</li>
		<li class="fields_item"><a
				href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=blumenbachiana">Blumenbachiana</a>
			(<a href="digitalesammlungen/#blumenbachiana">Info</a> | <a
					href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=blumenbachiana">110</a>)
		</li>
		<li class="fields_item"><a
				href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=bucherhaltung">Bucherhaltung</a>
			(<a href="digitalesammlungen/#bucherhaltung">Info</a> | <a
					href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=bucherhaltung">2288</a>)
		</li>
		<li class="fields_item"><a
				href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=digiwunschbuch">DigiWunschbuch</a>
			(<a href="digitalesammlungen/#digiwunschbuch">Info</a> | <a
					href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=digiwunschbuch">2040</a>)
		</li>
		<li class="fields_item"><a
				href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=g%C3%B6ttingeruniversit%C3%A4tsgeschichte.gedrucktewerke">Göttinger
			Universitätsgeschichte - Gedruckte Werke</a> (<a
				href="digitalesammlungen/#göttingeruniversitätsgeschichte.gedrucktewerke">Info</a> | <a
				href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=g%C3%B6ttingeruniversit%C3%A4tsgeschichte.gedrucktewerke">1071</a>)
		</li>
		<li class="fields_item"><a href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=itineraria">Itineraria</a>
			(<a href="digitalesammlungen/#itineraria">Info</a> | <a
					href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=itineraria">1185</a>)
		</li>
		<li class="fields_item"><a href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=mathematica">Mathematica</a>
			(<a href="digitalesammlungen/#mathematica">Info</a> | <a
					href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=mathematica">6143</a>)
		</li>
		<li class="fields_item"><a href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=juridica">Rechtsgeschichte</a>
			(<a href="digitalesammlungen/#juridica">Info</a> | <a
					href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=juridica">78</a>)
		</li>
		<li class="fields_item"><a
				href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=rezensionszeitschriften">Rezensionen</a>
			(<a href="digitalesammlungen/#rezensionszeitschriften">Info</a> | <a
					href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=rezensionszeitschriften">373</a>)
		</li>
		<li class="fields_item"><a
				href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=rusdml">RusDML</a> (<a
				href="digitalesammlungen/#rusdml">Info</a> | <a
				href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=rusdml">603</a>)
		</li>
		<li class="fields_item"><a href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=sibirica">Sibirica</a>
			(<a href="digitalesammlungen/#sibirica">Info</a> | <a
					href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=sibirica">600</a>)
		</li>
		<li class="fields_item"><a
				href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=vd17.mainstream">VD17
			Mainstream</a> (<a href="digitalesammlungen/#vd17.mainstream">Info</a> | <a
				href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=vd17.mainstream">4199</a>)
		</li>
		<li class="fields_item"><a href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=vd17.nova">VD17-nova</a>
			(<a href="digitalesammlungen/#vd17.nova">Info</a> | <a
					href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=vd17.nova">10976</a>)
		</li>
		<li class="fields_item"><a href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=vd18.digital">VD18
			digital</a> (<a href="digitalesammlungen/#vd18.digital">Info</a> | <a
				href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=vd18.digital">26618</a>)
		</li>
		<li class="fields_item"><a
				href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=wissenschaftsgeschichte">Wissenschaftsgeschichte</a>
			(<a href="digitalesammlungen/#wissenschaftsgeschichte">Info</a> | <a
					href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=wissenschaftsgeschichte">633</a>)
		</li>
		<li class="fields_item"><a href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=zoologica">Zoologica</a>
			(<a href="digitalesammlungen/#zoologica">Info</a> | <a
					href="dms/colbrowse/?tx_goobit3_search%5Bextquery%5D=ISWORK%3A1&amp;DC=zoologica">2182</a>)
		</li>
	</ul>
</section>
