<section class="filters">
	<div class="filter">
		<h2 class="filter_title">Sortieren nach</h2>
		<form class="filter_form">
			<select class="filter_form-author">
				<option value="">Autor aufsteigend</option>
				<option value="">Autor absteigend</option>
				<option value="">Erscheinungsjahr aufsteigend</option>
				<option value="">Erscheinungsjahr absteigend</option>
				<option value="">Importdatum aufsteigend</option>
				<option value="">Importdatum absteigend</option>
				<option value="">Titel aufsteigend</option>
				<option value="">Titel absteigend</option>
				<option value="">Änderungsdatum aufsteigend</option>
				<option value="">Änderungsdatum absteigend</option>
			</select>
		</form>
	</div>

	<div class="filter">
		<h2 class="filter_title">Orte</h2>
		<select class="filter_form filter_form-places">
			<option class="filter_item">Göttingen <span class="filter_count">130</span></option>
			<option class="filter_item">Berlin <span class="filter_count">56</span></option>
			<option class="filter_item">London <span class="filter_count">49</span></option>
			<option class="filter_item">Paris <span class="filter_count">4</span></option>
			<option class="filter_item">Hildesheim <span class="filter_count">4</span></option>
		</select>
	</div>

	<div class="filter">
		<h2 class="filter_title">Personen</h2>
		<ul class="filter_list">
			<li class="filter_item"><a href="">Jesus Christus</a> <span class="filter_count">192</span></li>
			<li class="filter_item"><a href="">Martin Luther</a> <span class="filter_count">65</span></li>
			<li class="filter_item"><a href="">Johann Sebastian Bach</a> <span class="filter_count">19</span></li>
		</ul>
	</div>

	<div class="filter">
		<h2 class="filter_title">Sammlungen</h2>
		<ul class="filter_list">
			<li class="filter_item"><a href="">Eighteenth Century Journals</a> <span class="filter_count">26</span></li>
			<li class="filter_item"><a href="">Empire Online</a> <span class="filter_count">2</span></li>
			<li class="filter_item"><a href="">Macmillan Online</a> <span class="filter_count">23</span></li>
			<li class="filter_item"><a href="">Early American Imprints</a> <span class="filter_count">184</span></li>
			<li class="filter_item"><a href="">America’s Historical Newspapers</a> <span class="filter_count">7</span></li>
			<li class="filter_item"><a href="">U.S. Congressional Serial Set</a> <span class="filter_count">19</span></li>
		</ul>
	</div>

	<div class="filter">
		<h2 class="filter_title">Abschnitt</h2>
		<ul class="filter_list">
			<li class="filter_item"><a href="">Veröffentlichungsort </a> <span class="filter_count">1099</span></li>
			<li class="filter_item filter_item-active"><a href="">Bibliothek </a> <span class="filter_count">17</span></li>
			<li class="filter_item"><a href="">Dokument-Typ </a> <span class="filter_count">1107</span></li>
			<li class="filter_item"><a href="">Region </a> <span class="filter_count">798</span></li>
			<li class="filter_item"><a href="">Referenz </a> <span class="filter_count">4</span></li>
		</ul>
	</div>
</section>
