
<section class="filters">
	<h1 class="sr-only">Filter</h1>

	<div class="filter">
		<h2 class="filter_title">Sortieren nach</h2>
		<form class="filter_form">
			<select>
				<option value="">Autor aufsteigend</option>
				<option value="">Autor absteigend</option>
				<option value="">Erscheinungsjahr aufsteigend</option>
				<option value="">Erscheinungsjahr absteigend</option>
				<option value="">Importdatum aufsteigend</option>
				<option value="">Importdatum absteigend</option>
				<option value="">Titel aufsteigend</option>
				<option value="">Titel absteigend</option>
				<option value="">Änderungsdatum aufsteigend</option>
				<option value="">Änderungsdatum absteigend</option>
			</select>
		</form>
	</div>

	<div class="filter">
		<h2 class="filter_title">Orte</h2>
		<ul class="filter_list">
			<li class="filter_item"><a href="">Göttingen</a> <span class="filter_count">130</span></li>
			<li class="filter_item"><a href="">Berlin</a> <span class="filter_count">56</span></li>
			<li class="filter_item"><a href="">London</a> <span class="filter_count">49</span></li>
			<li class="filter_item"><a href="">Paris</a> <span class="filter_count">4</span></li>
		</ul>
	</div>

	<div class="filter">
		<h2 class="filter_title">Personen</h2>
		<ul class="filter_list">
			<li class="filter_item"><a href="">Jesus Christus</a> <span class="filter_count">192</span></li>
			<li class="filter_item"><a href="">Martin Luther</a> <span class="filter_count">65</span></li>
			<li class="filter_item"><a href="">Johann Sebastian Bach</a> <span class="filter_count">19</span></li>
		</ul>
	</div>

	<div class="filter">
		<h2 class="filter_title">Sammlungen</h2>
		<ul class="filter_list">
			<li class="filter_item"><a href="">Americana</a> <span class="filter_count">26</span></li>
			<li class="filter_item"><a href="">Autobiographica</a> <span class="filter_count">2</span></li>
			<li class="filter_item"><a href="">Bucherhaltung</a> <span class="filter_count">23</span></li>
			<li class="filter_item"><a href="">DigiWunschbuch</a> <span class="filter_count">184</span></li>
			<li class="filter_item"><a href="">Itineraria</a> <span class="filter_count">7</span></li>
			<li class="filter_item"><a href="">Karten</a> <span class="filter_count">19</span></li>
			<li class="filter_item"><a href="">Mathematica</a> <span class="filter_count">4920</span></li>
			<li class="filter_item"><a href="">Rechtsgeschichte</a> <span class="filter_count">3</span></li>
			<li class="filter_item"><a href="">Rezensionen</a> <span class="filter_count">21</span></li>
			<li class="filter_item"><a href="">RusDML</a> <span class="filter_count">65</span></li>
			<li class="filter_item"><a href="">Sibirica</a> <span class="filter_count">15</span></li>
			<li class="filter_item"><a href="">VD18 digital</a> <span class="filter_count">2052</span></li>
			<li class="filter_item"><a href="">Varia</a> <span class="filter_count">171</span></li>
			<li class="filter_item"><a href="">Wissenschaftsgeschichte</a> <span class="filter_count">46</span></li>
			<li class="filter_item"><a href="">Zoologica</a> <span class="filter_count">1</span></li>
		</ul>
	</div>

	<div class="filter">
		<h2 class="filter_title">Kategorien</h2>
		<ul class="filter_list">
			<li class="filter_item"><a href="">Abschnitt </a> <span class="filter_count">1099</span></li>
			<li class="filter_item"><a href="">Annotation </a> <span class="filter_count">17</span></li>
			<li class="filter_item"><a href="">Artikel </a> <span class="filter_count">1107</span></li>
			<li class="filter_item"><a href="">Band </a> <span class="filter_count">798</span></li>
			<li class="filter_item"><a href="">Beilage </a> <span class="filter_count">4</span></li>
			<li class="filter_item"><a href="">Heft </a> <span class="filter_count">499</span></li>
			<li class="filter_item"><a href="">Illustration </a> <span class="filter_count">7</span></li>
			<li class="filter_item"><a href="">Kapitel </a> <span class="filter_count">2732</span></li>
			<li class="filter_item"><a href="">Mehrbändiges Werk </a> <span class="filter_count">16</span></li>
			<li class="filter_item"><a href="">Monograph </a> <span class="filter_count">1706</span></li>
			<li class="filter_item"><a href="">Noten </a> <span class="filter_count">5</span></li>
			<li class="filter_item"><a href="">contained_work </a> <span class="filter_count">98</span></li>
			<li class="filter_item"><a href="">fascicle </a> <span class="filter_count">1</span></li>
			<li class="filter_item"><a href="">verse </a> <span class="filter_count">5</span></li>
		</ul>
	</div>
</section>
