<section class="metadata">
	<h1 class="metadata_title">Von Gott.</h1>
	<dl class="metadata_info">
		<dt>Strukturtyp</dt>
		<dd>Monograph</dd>
		<dt>Titel</dt>
		<dd>Christliches Gesangbuch zum gottesdienstlichen Gebrauch der Evangelischen Gemeinden in Siebenbürgen</dd>
		<dt>Erscheinungsjahr</dt>
		<dd>1797</dd>
		<dt>Erscheinungsort</dt>
		<dd>Hermannstadt</dd>
		<dt>Verlag</dt>
		<dd>Barth</dd>
		<dt>Kollektionen</dt>
		<dd><a href="">VD18 digital</a></dd>
		<dt>PURL</dt>
		<dd>http://resolver.sub.uni-goettingen.de/purl?PPN682330116</dd>
		<dt>PPN (original):</dt>
		<dd>PPN193429802</dd>
		<dt>PPN (digital):</dt>
		<dd>PPN682330116</dd>
	</dl>
	<div class="metadata_contents">
		<h2 class="metadata_heading">Inhalt</h2>
		<ol class="metadata_list">
			<li class="metadata_item"><a href="">Titelseite</a></li>
			<li class="metadata_item"><a href="">Kapitel 1</a></li>
			<li class="metadata_item"><a href="">Kapitel 2</a></li>
			<li class="metadata_item"><a href="">Kapitel 3</a></li>
			<li class="metadata_item"><a href="">Index</a></li>
		</ol>
	</div>
</section>
