<ol class="pagination">
	<li class="pagination_item"><a href="" class="pagination_link">Erste Seite</a></li>
	<li class="pagination_item"><a href="" class="pagination_link">Vorige Seite</a></li>
	<li class="pagination_item"><a href="" class="pagination_link -current"><span class="sr-only">Seite</span> 1</a></li>
	<li class="pagination_item"><a href="" class="pagination_link"><span class="sr-only">Seite</span> 2</a></li>
	<li class="pagination_item"><a href="" class="pagination_link"><span class="sr-only">Seite</span> 3</a></li>
	<li class="pagination_item"><a href="" class="pagination_link"><span class="sr-only">Seite</span> 4</a></li>
	<li class="pagination_item"><a href="" class="pagination_link"><span class="sr-only">Seite</span> 5</a></li>
	<li class="pagination_item"><a href="" class="pagination_link"><span class="sr-only">Weitere Seiten</span> ...</a></li>
	<li class="pagination_item"><a href="" class="pagination_link">Nächste Seite</a></li>
	<li class="pagination_item"><a href="" class="pagination_link">Letzte Seite</a></li>
</ol>
