<ol class="pagination">
	<li class="pagination_item"><a href="" class="pagination_link -first -disabled"><span class="sr-only">Erste Seite</span></a></li>
	<li class="pagination_item"><a href="" class="pagination_link -previous"><span class="sr-only">Vorige Seite</span></a></li>
	<li class="pagination_item"><a href="" class="pagination_link -current"><span class="sr-only">Seite</span> 1</a></li>
	<li class="pagination_item"><a href="" class="pagination_link"><span class="sr-only">Seite</span> 2</a></li>
	<li class="pagination_item"><a href="" class="pagination_link"><span class="sr-only">Seite</span> 3</a></li>
	<li class="pagination_item"><a href="" class="pagination_link"><span class="sr-only">Seite</span> 4</a></li>
	<li class="pagination_item"><a href="" class="pagination_link"><span class="sr-only">Seite</span> 5</a></li>
	<li class="pagination_item"><a href="" class="pagination_link"><span class="sr-only">Weitere Seiten</span> ...</a></li>
	<li class="pagination_item"><a href="" class="pagination_link -next"><span class="sr-only">Nächste Seite</span></a></li>
	<li class="pagination_item"><a href="" class="pagination_link -last"><span class="sr-only">Letzte Seite</span></a></li>
</ol>
