<section class="projects">
	<div class="projects_row">
		<article class="projects_block">
			<h1>Just scanned</h1>
			<span>
				<a href="dms/load/img/?PPN=PPN841193452" alt="Gründliche Deduction Rechtmässiger Befugnüß/ so Ihr: Königl. Majest. und die hochlöbl. Chron Schweden an die Stadt Bremen haben" title="Gründliche Deduction Rechtmässiger Befugnüß/ so Ihr: Königl. Majest. und die hochlöbl. Chron Schweden an die Stadt Bremen haben"></a><a href="dms/load/img/?PPN=PPN841193452" alt="Gründliche Deduction Rechtmässiger Befugnüß/ so Ihr: Königl. Majest. und die hochlöbl. Chron Schweden an die Stadt Bremen haben" title="Gründliche Deduction Rechtmässiger Befugnüß/ so Ihr: Königl. Majest. und die hochlöbl. Chron Schweden an die Stadt Bremen haben"><img id="tx-goobit3-search_thumb5b54cecc3ba5ab20ac9158f12cf1855e" src="http://gdz-srv1.sub.uni-goettingen.de/content/PPN841193452/500/0/00000001.jpg" heigth="150" width="100"></a>
			</span>
			<p>
				<a href="dms/load/img/?PPN=PPN841193452" alt="Gründliche Deduction Rechtmässiger Befugnüß/ so Ihr: Königl. Majest. und die hochlöbl. Chron Schweden an die Stadt Bremen haben" title="Gründliche Deduction Rechtmässiger Befugnüß/ so Ihr: Königl. Majest. und die hochlöbl. Chron Schweden an die Stadt Bremen haben">Gründliche Deduction Rechtmässiger Befugnüß/ so Ihr: Königl. Majest. und die hochlöbl. Chron Schweden an die Stadt Bremen haben</a>
			</p>
		</article>
		<article class="projects_block">
			<h1>Zentrales Verzeichnis digitalisierter Drucke</h1>
			<a href="http://www.zvdd.de">
				<img src="http://gdz-srv1.sub.uni-goettingen.de/uploads/pics/zvdd.png">
			</a>
			<p>Ist Ihr gesuchtes Werk noch nicht in unserem digitalen Bestand? Dann probieren Sie es doch in unserem ZVDD Portal, das mehr als 1.300.000 bundesweit digitalisierte Werke nachweist:</p>
			<a href="http://www.zvdd.de">www.zvdd.de</a>
		</article>
	</div>
	<div class="projects_row">
		<article class="projects_block">
			<h1>DigiWunschbuch</h1>
			<a href="http://www.digiwunschbuch.de"><img src="http://gdz-srv1.sub.uni-goettingen.de/uploads/pics/digiwubu_01.jpg"></a>
			<p>
				Sehr geehrte Wunschbuchinteressierte, die
				<a href="http://www.sub.uni-goettingen.de/">Niedersächsische Staats- und Universitätsbibliothek Göttingen (SUB)</a> bietet mit dem Service „DigiWunschbuch” die Möglichkeit, Patenschaften für die Digitalisierung von Büchern zu übernehmen.
			</p>
			<p>
				Übernehmen Sie die Patenschaft für die Digitalisierung Ihres Wunschbuches:
				<a href="http://www.digiwunschbuch.de">www.DigiWunschbuch.de</a>
			</p>
		</article>
		<article class="projects_block">
			<h1>DigiZeitschriften</h1>
			<a href="http://www.digizeitschriften.de" target="_blank">
				<img class="jk_content_hwi_image" src="http://gdz-srv1.sub.uni-goettingen.de/uploads/pics/digizeit_02.jpg">
			</a>
			<p>
				DigiZeitschriften ist ein Service für das wissenschaftliche Arbeiten. Über einen kontrollierten Nutzerzugang können Studierende und Wissenschaftler auf Kernzeitschriften der deutschen Forschung zugreifen. Der Zugang erfolgt über Bibliotheken und wissenschaftliche
				Einrichtungen, die DigiZeitschriften subskribiert haben. Derzeit umfasst das Angebot über 135 Zeitschriften aus 18 Fachgebieten!
			</p>
			<a href="http://www.digizeitschriften.de/">www.DigiZeitschriften.de</a>
		</article>
	</div>
</section>
