<section class="viewer_metadata">
	<dl class="metadata_info">
		<dt>Titel</dt>
		<dd>48th Report of the Society for Promoting Female Education</dd>
		<dt>Abschnitt</dt>
		<dd>Section I: Cultural Contacts, 1492-1969</dd>
		<dt>Erscheinungsjahr</dt>
		<dd>1883</dd>
		<dt>Dokument Typ</dt>
		<dd>Missionary Papers, Report
		</dd>
		<dt>Bibliothek</dt>
		<dd>University of Birmingham Library
		</dd>
		<dt>Referenz</dt>
		<dd><a href="">Miscellaneous Z1</a></dd>
		<dt>Region</dt>
		<dd>East Asia, South East Asia, Africa, Middle East, South Asia
		</dd>
		<dt>Namen</dt>
		<dd>Sir Walter Rockcliffe Forquhar
		</dd>
		<dt>Themen</dt>
		<dd>missionary papers, Society for Promoting Female Education in the East (FES), education, missionaries, missionary work, Church Missionary Society, CMS, map illustrating operation areas, Zenana, harems, boarding and day schools, Christianity, reports from schools around the world including numbers, nature of pupils, subject taught, conduct and prayers, Female Missionary Intelligencer, female missionaries, legal status of Indian women, Hindu women, Hinduism, teaching in Hindu and Islamic houses and schools, staff shortages, funding, salaries, expenses, donations, health and disease, conflict in Egypt and Middle East, subscriptions, society rules, society pledge
		</dd>
		<dt>Copyright</dt>
		<dd>University of Birmingham Library</dd>
	</dl>
</section>
