<section class="viewer" id="viewer">
	<div class="viewer_controls">
		<div class="viewer_group">
			<button class="viewer_control"><i class="fa fa-fast-backward"></i></button>
			<button class="viewer_control" title="Voriger Abschnitt"><i class="fa fa-step-backward"></i></button>
			<button class="viewer_control viewer_control-previous"><i class="fa fa-caret-left"></i></button>
			<label class="sr-only" for="viewer-page-select">Aktuelle Seite</label>
			<select class="viewer_control" name="page" id="viewer-page-select">
				<option selected>29 : 25</option>
			</select>
			<button class="viewer_control"><i class="fa fa-caret-right"></i></button>
			<button class="viewer_control" title="Nächster Abschnitt"><i class="fa fa-step-forward"></i></button>
			<button class="viewer_control"><i class="fa fa-fast-forward"></i></button>
		</div>
		<div class="viewer_group">
			<button class="viewer_control viewer_control-out"><i class="fa fa-search-minus"></i></button>
			<input type="range" class="viewer_control viewer_control-range">
			<button class="viewer_control viewer_control-in"><i class="fa fa-search-plus"></i></button>
		</div>
		<div class="viewer_group">
			<button class="viewer_control viewer_control-reset"><i class="fa fa-undo"></i></button>
		</div>
		<div class="viewer_group">
			<button class="viewer_control viewer_control-fullscreen"><i class="fa fa-arrows-alt"></i></button>
		</div>
	</div>
	<div class="viewer_scan" id="viewer_scan">
		<img class="viewer_image" src="{{ site.baseurl }}/img/00000029-merged.jpg" alt="">
	</div>
</section>
