<section class="viewer" id="viewer">
	<div class="viewer_controls">
		<div class="viewer_group">
			<button class="viewer_control" title="Erste Seite"><i class="fa fa-fast-backward"></i></button>
			<button class="viewer_control" title="Voriger Abschnitt"><i class="fa fa-step-backward"></i></button>
			<button class="viewer_control viewer_control-previous" title="Vorherige Seite"><i class="fa fa-caret-left"></i></button>
			<label class="sr-only" for="viewer-page-select">Aktuelle Seite</label>
			<select class="viewer_control" name="page" id="viewer-page-select">
				<option>26 : 22</option>
				<option>27 : 23</option>
				<option>28 : 24</option>
				<option selected>29 : 25</option>
				<option>30 : 26</option>
				<option>31 : 27</option>
				<option>32 : 28</option>
			</select>
			<button class="viewer_control" title="Nächste Seite"><i class="fa fa-caret-right"></i></button>
			<button class="viewer_control" title="Nächster Abschnitt"><i class="fa fa-step-forward"></i></button>
			<button class="viewer_control" title="Letzte Seite"><i class="fa fa-fast-forward"></i></button>
		</div>
		<div class="viewer_group">
			<button class="viewer_control viewer_control-out" title="Herauszoomen"><i class="fa fa-search-minus"></i></button>
			<input type="range" class="viewer_control viewer_control-range">
			<button class="viewer_control viewer_control-in" title="Hinzeinzoomen"><i class="fa fa-search-plus"></i></button>
		</div>
		<div class="viewer_group">
			<button class="viewer_control viewer_control-reset" title="Ansicht zurücksetzen"><i class="fa fa-undo"></i></button>
		</div>
		<div class="viewer_group">
			<button class="viewer_control viewer_control-fullscreen" title="Vollbildansicht"><i class="fa fa-arrows-alt"></i></button>
		</div>
	</div>
	<div class="viewer_scan" id="viewer_scan">
		<img class="viewer_image" src="{{ site.baseurl }}/img/00000029-merged.jpg" alt="">
	</div>
</section>
