<section class="viewer">
    <div class="viewer_controls">
        <div class="viewer_group">
            <button class="viewer_control">Erste Seite</button>
            <button class="viewer_control">Voriger Abschnitt</button>
            <button class="viewer_control">Vorige Seite</button>
            <label class="sr-only" for="viewer-page-select">Aktuelle Seite</label>
            <select class="viewer_control" name="page" id="viewer-page-select">
                <option selected>29 : 25</option>
            </select>
            <button class="viewer_control">Nächste Seite</button>
            <button class="viewer_control">Nächster Abschnitt</button>
            <button class="viewer_control">Letzte Seite</button>
        </div>
        <div class="viewer_group">
            <button class="viewer_control">Verkleinern</button>
            <button class="viewer_control">Vergrößern</button>
        </div>
        <div class="viewer_group">
            <button class="viewer_control">Vollbild</button>
        </div>
    </div>
    <div class="viewer_scan">
        <img src="{{ site.url }}/img/00000029.jpg" alt="">
        <img class="viewer_overlay" src="{{ site.url }}/img/00000029-overlay.png" alt="">
    </div>
</section>
