<header class="viewer_header">
	<h1 class="viewer_title">48th Report of the Society for Promoting Female Education</h1>
	<div class="viewer_group">
		<button class="viewer_control js-toggle-panel" data-target="transcript">Transkription</button>
		<button class="viewer_control js-toggle-panel" data-target="toc">Inhalt</button>
		<button class="viewer_control -active js-toggle-panel" data-target="metadata">Metadaten</button>
	</div>
	<div class="viewer_group">
		<button class="viewer_control js-fullscreen" title="Vollbildansicht"><i class="fa fa-arrows-alt"></i></button>
	</div>
</header>
